svg {
	width: 30%;
	height: 30%;
	position: relative;
}

.cell {
	width: 20%;
	height: 20%;
	display: block;
}

.username {
	width: 20%;
	margin-top: -100px;
}

.cellContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

